html, body {
    background-color:  #2d1f63;
    color: white;
    height: 100%;
    padding: 0;
    margin: 1%;
    padding-bottom: 100px;
    font-size: Garamond, serif;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #e0a607;
}

a:active {
    color: #e0a607;
}

h1 {
    text-align: center;
    font-size: 3em;
}

h3 {
    text-align: center;
}

h5 {
    text-align: center;
    color: #e0a607;
}